In [ ]:
# https://www2.agenciatributaria.gob.es/wlpl/PRET-R200/R210/index.zul

In [1]:
def calculate_taxes(salary):
    total_tax = 0

    # Apply the 19% rate to the first 12,450 Euros
    if salary > 0:
        taxable_amount = min(12450, salary)
        total_tax += taxable_amount * 0.19

    # Apply the 24% rate to the amount between 12,450 and 20,199 Euros
    if salary > 12450:
        taxable_amount = min(20199, salary) - 12450
        total_tax += taxable_amount * 0.24

    # Apply the 30% rate to the amount between 20,200 and 35,199 Euros
    if salary > 20199:
        taxable_amount = min(35199, salary) - 20200
        total_tax += taxable_amount * 0.30

    # Apply the 37% rate to the amount between 35,200 and 59,999 Euros
    if salary > 35199:
        taxable_amount = min(59999, salary) - 35200
        total_tax += taxable_amount * 0.37

    # Apply the 45% rate to the amount between 60,000 and 299,999 Euros
    if salary > 59999:
        taxable_amount = min(299999, salary) - 60000
        total_tax += taxable_amount * 0.45

    # Apply the 47% rate to the amount above 300,000 Euros
    if salary > 299999:
        taxable_amount = salary - 300000
        total_tax += taxable_amount * 0.47

    return total_tax

In [2]:
# Test the function with a salary of 55,000 Euros
salary = 65000 
tax = calculate_taxes(salary)
print(f"The tax on an annual salary of {salary} Euros is {tax} Euros.")

The tax on an annual salary of 65000 Euros is 20150.589999999997 Euros.

In [4]:
# Additional tests for accuracy
test_salaries = [10000, 15000, 30000, 40000, 50000, 65000, 100000, 500000]
test_results = {salary: calculate_taxes(salary) for salary in test_salaries}

import pandas as pd

# Creating a DataFrame for better visualization
tax_df = pd.DataFrame(list(test_results.items()), columns=['Salary (Euros)', 'Tax (Euros)'])
tax_df

   Salary (Euros)  Tax (Euros)
0           10000      1900.00
1           15000      2977.50
2           30000      7165.26
3           40000     10500.96
4           50000     14200.96
5           65000     20150.59
6          100000     35900.59
7          500000    219900.14